- content_for :body_classes do 
  font-page
  
.row-fluid
  %section.profile-wall
    %ul.profile-items
      %li.new-profile-item
        =link_to image_tag("add_new.png"), new_profile_path, :title => "Add Profile", :id => "new_profile", :rel => "tooltip", :title => "Add User"
      - @profiles.each do |profile|
        %li.profile-item
          %a{:rel => "tooltip", :title => profile.display_name}
            %img{:src => profile.gravatar_url}