.row-fluid
  %section.profile-wall
    %ul.profile-items
      %li.new-profile-item
        =link_to image_tag("add_new.png"), new_profile_path, :title => "Add Profile", :id => "new_profile", :rel => "tooltip", :title => "Add User"
      - @profiles.each do |profile|
        %li.profile-item
          =link_to image_tag(profile.gravatar_url), profile_path(profile), :rel => "tooltip", :title => profile.display_name