/* ----------------------------------------------------------------------------
 * Modules
 * ------------------------------------------------------------------------- */

 /* profile wall */
    
section.profile-wall 
  width: 120%
  .profile-items
    list-style: none
    margin: 0
    .profile-item, 
    .new-profile-item
      float: left
      display: inline


/* individual profile */

section.profile
  .profile-header
    padding-top: 100px
    img
      float: left
      border: 3px solid #fff
      width: 85px
      height: 85px
      margin: 0 20px 20px
    .profile-name
      color: #fff
  .summary-info
    width: 50%
    list-style: none
    margin: 0 auto
    .summary-info-item
      float: left
      display: inline
      padding: 10px


/* ----------------------------------------------------------------------------
 * Overrides
 * ------------------------------------------------------------------------- */

/* container */

body.font-page
  .container-fluid
    padding: 0

body
  background: url('site-stripe.png')
  

